<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
    <script src="{{ url_for('static', filename='js/dublinbikes.js') }}"></script>
    
    {% block head %}{% endblock %}

</head>
<body>
    <!-- Main structure consists of 3 primary divs: header, footer and main content container for map/station list.
         All flex containers (flex direction column within so items are side by side as per wireframes). -->

    <header class="container" id="header">
        <div class="box" class="logo_box"><img id="db_logo" src="{{url_for('static', filename='images/db_logo.png')}}" width="55%" height="auto"></div>
        <div class="box" id="page_box">
            <ul class="menu">
                <li class="menu_item"><a href="{{ url_for('index') }}">Live map</a></li>
                <li class="menu_item"><a href="{{ url_for('weather') }}">Weather</a></li>
            </ul>
        </div>
        <div class="box" class="logo_box"><a href="https://www.nowtv.com/ie"><img id="now_logo" src="{{url_for('static', filename='images/now_logo.png')}}" width="85%" height="auto"></a></div>
    </header>

        <div class="home_container">
            {% block body %}{% endblock %}
        </div>
    
    <footer class="container" id="footer">
        <div class="box">
            <p>Brought to you by Group 4</p>
        </div>
    </footer>
    
 
</body>
</html>