{% extends 'base.html' %}

{% block head %}

    <title>Stations</title>
    <body onload= "constructTable('#table')">
<p id="station_list"></p>
<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>

{% endblock %}

{% block body %} 

    <div class="box" id="station_list">

        <table margin="0 auto" id="table" border="1"></table>
        <script>
            var x = document.getElementById("station_list");
            
            var list = [
            {       "address": "Blessington Street", 
                    "bike_stands": 20.0, 
                    "bikes_available": 12.0, 
                    "latitude": 53.3568, 
                    "longitude": -6.26814, 
                    "name": "BLESSINGTON STREET", 
                    "number": 2.0, 
                    "s.number": 2.0, 
                    "stands_available": 8.0, 
                    "status": "OPEN", 
                    "time": "Mon, 28 Mar 2022 19:39:10 GMT"},
            {
                    "address": "Bolton Street", 
                    "bike_stands": 20.0, 
                    "bikes_available": 2.0, 
                    "latitude": 53.3512, 
                    "longitude": -6.26986, 
                    "name": "BOLTON STREET", 
                    "number": 3.0, 
                    "s.number": 3.0, 
                    "stands_available": 18.0, 
                    "status": "OPEN", 
                    "time": "Mon, 28 Mar 2022 19:39:13 GMT"
                  },
                  {
                    "address": "Greek Street", 
                    "bike_stands": 20.0, 
                    "bikes_available": 7.0, 
                    "latitude": 53.3469, 
                    "longitude": -6.27298, 
                    "name": "GREEK STREET", 
                    "number": 4.0, 
                    "s.number": 4.0, 
                    "stands_available": 13.0, 
                    "status": "OPEN", 
                    "time": "Mon, 28 Mar 2022 19:39:05 GMT"
                  },

        {
        "address": "Charlemont Street", 
        "bike_stands": 40.0, 
        "bikes_available": 23.0, 
        "latitude": 53.3307, 
        "longitude": -6.26018, 
        "name": "CHARLEMONT PLACE", 
        "number": 5.0, 
        "s.number": 5.0, 
        "stands_available": 17.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Christchurch Place", 
        "bike_stands": 20.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3434, 
        "longitude": -6.27012, 
        "name": "CHRISTCHURCH PLACE", 
        "number": 6.0, 
        "s.number": 6.0, 
        "stands_available": 16.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "High Street", 
        "bike_stands": 29.0, 
        "bikes_available": 8.0, 
        "latitude": 53.3436, 
        "longitude": -6.27507, 
        "name": "HIGH STREET", 
        "number": 7.0, 
        "s.number": 7.0, 
        "stands_available": 21.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:05 GMT"
      }, 
      {
        "address": "Custom House Quay", 
        "bike_stands": 30.0, 
        "bikes_available": 1.0, 
        "latitude": 53.3479, 
        "longitude": -6.24805, 
        "name": "CUSTOM HOUSE QUAY", 
        "number": 8.0, 
        "s.number": 8.0, 
        "stands_available": 29.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }, 
      {
        "address": "Exchequer Street", 
        "bike_stands": 24.0, 
        "bikes_available": 15.0, 
        "latitude": 53.343, 
        "longitude": -6.26358, 
        "name": "EXCHEQUER STREET", 
        "number": 9.0, 
        "s.number": 9.0, 
        "stands_available": 9.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Dame Street", 
        "bike_stands": 16.0, 
        "bikes_available": 15.0, 
        "latitude": 53.344, 
        "longitude": -6.2668, 
        "name": "DAME STREET", 
        "number": 10.0, 
        "s.number": 10.0, 
        "stands_available": 1.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "Earlsfort Terrace", 
        "bike_stands": 30.0, 
        "bikes_available": 12.0, 
        "latitude": 53.3343, 
        "longitude": -6.2585, 
        "name": "EARLSFORT TERRACE", 
        "number": 11.0, 
        "s.number": 11.0, 
        "stands_available": 18.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "Eccles Street", 
        "bike_stands": 20.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3592, 
        "longitude": -6.26978, 
        "name": "ECCLES STREET", 
        "number": 12.0, 
        "s.number": 12.0, 
        "stands_available": 16.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:10 GMT"
      }, 
      {
        "address": "Fitzwilliam Square West", 
        "bike_stands": 30.0, 
        "bikes_available": 2.0, 
        "latitude": 53.3361, 
        "longitude": -6.25282, 
        "name": "FITZWILLIAM SQUARE WEST", 
        "number": 13.0, 
        "s.number": 13.0, 
        "stands_available": 28.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:00 GMT"
      }, 
      {
        "address": "Hardwicke Street", 
        "bike_stands": 16.0, 
        "bikes_available": 7.0, 
        "latitude": 53.3555, 
        "longitude": -6.26442, 
        "name": "HARDWICKE STREET", 
        "number": 15.0, 
        "s.number": 15.0, 
        "stands_available": 9.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "Georges Quay", 
        "bike_stands": 20.0, 
        "bikes_available": 11.0, 
        "latitude": 53.3475, 
        "longitude": -6.25219, 
        "name": "GEORGES QUAY", 
        "number": 16.0, 
        "s.number": 16.0, 
        "stands_available": 9.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }, 
      {
        "address": "Golden Lane", 
        "bike_stands": 20.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3408, 
        "longitude": -6.26773, 
        "name": "GOLDEN LANE", 
        "number": 17.0, 
        "s.number": 17.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "Grantham Street", 
        "bike_stands": 30.0, 
        "bikes_available": 26.0, 
        "latitude": 53.3341, 
        "longitude": -6.26544, 
        "name": "GRANTHAM STREET", 
        "number": 18.0, 
        "s.number": 18.0, 
        "stands_available": 4.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "Herbert Place", 
        "bike_stands": 30.0, 
        "bikes_available": 20.0, 
        "latitude": 53.3344, 
        "longitude": -6.24557, 
        "name": "HERBERT PLACE", 
        "number": 19.0, 
        "s.number": 19.0, 
        "stands_available": 10.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:05 GMT"
      }, 
      {
        "address": "Leinster Street South", 
        "bike_stands": 30.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3422, 
        "longitude": -6.25449, 
        "name": "LEINSTER STREET SOUTH", 
        "number": 21.0, 
        "s.number": 21.0, 
        "stands_available": 30.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:14 GMT"
      }, 
      {
        "address": "Townsend Street", 
        "bike_stands": 20.0, 
        "bikes_available": 19.0, 
        "latitude": 53.3459, 
        "longitude": -6.25461, 
        "name": "TOWNSEND STREET", 
        "number": 22.0, 
        "s.number": 22.0, 
        "stands_available": 1.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "Custom House", 
        "bike_stands": 30.0, 
        "bikes_available": 24.0, 
        "latitude": 53.3483, 
        "longitude": -6.25466, 
        "name": "CUSTOM HOUSE", 
        "number": 23.0, 
        "s.number": 23.0, 
        "stands_available": 6.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "Cathal Brugha Street", 
        "bike_stands": 20.0, 
        "bikes_available": 14.0, 
        "latitude": 53.3521, 
        "longitude": -6.26053, 
        "name": "CATHAL BRUGHA STREET", 
        "number": 24.0, 
        "s.number": 24.0, 
        "stands_available": 6.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "Merrion Square East", 
        "bike_stands": 30.0, 
        "bikes_available": 6.0, 
        "latitude": 53.3394, 
        "longitude": -6.24655, 
        "name": "MERRION SQUARE EAST", 
        "number": 25.0, 
        "s.number": 25.0, 
        "stands_available": 24.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "Merrion Square West", 
        "bike_stands": 20.0, 
        "bikes_available": 8.0, 
        "latitude": 53.3398, 
        "longitude": -6.25199, 
        "name": "MERRION SQUARE WEST", 
        "number": 26.0, 
        "s.number": 26.0, 
        "stands_available": 12.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:10 GMT"
      }, 
      {
        "address": "Molesworth Street", 
        "bike_stands": 20.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3413, 
        "longitude": -6.25812, 
        "name": "MOLESWORTH STREET", 
        "number": 27.0, 
        "s.number": 27.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }, 
      {
        "address": "Mountjoy Square West", 
        "bike_stands": 30.0, 
        "bikes_available": 10.0, 
        "latitude": 53.3563, 
        "longitude": -6.25859, 
        "name": "MOUNTJOY SQUARE WEST", 
        "number": 28.0, 
        "s.number": 28.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:13 GMT"
      }, 
      {
        "address": "Ormond Quay Upper", 
        "bike_stands": 29.0, 
        "bikes_available": 28.0, 
        "latitude": 53.3461, 
        "longitude": -6.268, 
        "name": "ORMOND QUAY UPPER", 
        "number": 29.0, 
        "s.number": 29.0, 
        "stands_available": 1.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:13 GMT"
      }, 
      {
        "address": "Parnell Square North", 
        "bike_stands": 20.0, 
        "bikes_available": 6.0, 
        "latitude": 53.3535, 
        "longitude": -6.26531, 
        "name": "PARNELL SQUARE NORTH", 
        "number": 30.0, 
        "s.number": 30.0, 
        "stands_available": 14.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "Parnell Street", 
        "bike_stands": 20.0, 
        "bikes_available": 10.0, 
        "latitude": 53.3509, 
        "longitude": -6.26512, 
        "name": "PARNELL STREET", 
        "number": 31.0, 
        "s.number": 31.0, 
        "stands_available": 10.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:00 GMT"
      }, 
      {
        "address": "Pearse Street", 
        "bike_stands": 30.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3443, 
        "longitude": -6.25043, 
        "name": "PEARSE STREET", 
        "number": 32.0, 
        "s.number": 32.0, 
        "stands_available": 26.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "Princes Street / O'Connell Street", 
        "bike_stands": 23.0, 
        "bikes_available": 17.0, 
        "latitude": 53.349, 
        "longitude": -6.26031, 
        "name": "PRINCES STREET / O'CONNELL STREET", 
        "number": 33.0, 
        "s.number": 33.0, 
        "stands_available": 6.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Portobello Harbour", 
        "bike_stands": 30.0, 
        "bikes_available": 16.0, 
        "latitude": 53.3304, 
        "longitude": -6.26516, 
        "name": "PORTOBELLO HARBOUR", 
        "number": 34.0, 
        "s.number": 34.0, 
        "stands_available": 13.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:10 GMT"
      }, 
      {
        "address": "St. Stephen's Green East", 
        "bike_stands": 40.0, 
        "bikes_available": 11.0, 
        "latitude": 53.3378, 
        "longitude": -6.25603, 
        "name": "ST. STEPHEN'S GREEN EAST", 
        "number": 36.0, 
        "s.number": 36.0, 
        "stands_available": 29.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "St. Stephen's Green South", 
        "bike_stands": 30.0, 
        "bikes_available": 13.0, 
        "latitude": 53.3375, 
        "longitude": -6.26199, 
        "name": "ST. STEPHEN'S GREEN SOUTH", 
        "number": 37.0, 
        "s.number": 37.0, 
        "stands_available": 17.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "Talbot Street", 
        "bike_stands": 40.0, 
        "bikes_available": 28.0, 
        "latitude": 53.351, 
        "longitude": -6.25294, 
        "name": "TALBOT STREET", 
        "number": 38.0, 
        "s.number": 38.0, 
        "stands_available": 12.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:05 GMT"
      }, 
      {
        "address": "Wilton Terrace", 
        "bike_stands": 20.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3324, 
        "longitude": -6.25272, 
        "name": "WILTON TERRACE", 
        "number": 39.0, 
        "s.number": 39.0, 
        "stands_available": 16.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:14 GMT"
      }, 
      {
        "address": "Jervis Street", 
        "bike_stands": 21.0, 
        "bikes_available": 21.0, 
        "latitude": 53.3483, 
        "longitude": -6.26665, 
        "name": "JERVIS STREET", 
        "number": 40.0, 
        "s.number": 40.0, 
        "stands_available": 0.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:13 GMT"
      }, 
      {
        "address": "Harcourt Terrace", 
        "bike_stands": 20.0, 
        "bikes_available": 2.0, 
        "latitude": 53.3328, 
        "longitude": -6.25794, 
        "name": "HARCOURT TERRACE", 
        "number": 41.0, 
        "s.number": 41.0, 
        "stands_available": 18.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:13 GMT"
      }, 
      {
        "address": "Smithfield North", 
        "bike_stands": 30.0, 
        "bikes_available": 25.0, 
        "latitude": 53.3496, 
        "longitude": -6.2782, 
        "name": "SMITHFIELD NORTH", 
        "number": 42.0, 
        "s.number": 42.0, 
        "stands_available": 5.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:58 GMT"
      }, 
      {
        "address": "Portobello Road", 
        "bike_stands": 30.0, 
        "bikes_available": 14.0, 
        "latitude": 53.3301, 
        "longitude": -6.26804, 
        "name": "PORTOBELLO ROAD", 
        "number": 43.0, 
        "s.number": 43.0, 
        "stands_available": 16.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:00 GMT"
      }, 
      {
        "address": "Upper Sherrard Street", 
        "bike_stands": 30.0, 
        "bikes_available": 5.0, 
        "latitude": 53.3584, 
        "longitude": -6.26064, 
        "name": "UPPER SHERRARD STREET", 
        "number": 44.0, 
        "s.number": 44.0, 
        "stands_available": 25.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Deverell Place", 
        "bike_stands": 30.0, 
        "bikes_available": 17.0, 
        "latitude": 53.3515, 
        "longitude": -6.25527, 
        "name": "DEVERELL PLACE", 
        "number": 45.0, 
        "s.number": 45.0, 
        "stands_available": 13.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "Herbert Street", 
        "bike_stands": 40.0, 
        "bikes_available": 3.0, 
        "latitude": 53.3357, 
        "longitude": -6.24551, 
        "name": "HERBERT STREET", 
        "number": 47.0, 
        "s.number": 47.0, 
        "stands_available": 37.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "Excise Walk", 
        "bike_stands": 40.0, 
        "bikes_available": 16.0, 
        "latitude": 53.3478, 
        "longitude": -6.24424, 
        "name": "EXCISE WALK", 
        "number": 48.0, 
        "s.number": 48.0, 
        "stands_available": 24.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:00 GMT"
      }, 
      {
        "address": "Guild Street", 
        "bike_stands": 40.0, 
        "bikes_available": 34.0, 
        "latitude": 53.3479, 
        "longitude": -6.24093, 
        "name": "GUILD STREET", 
        "number": 49.0, 
        "s.number": 49.0, 
        "stands_available": 6.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:05 GMT"
      }, 
      {
        "address": "George's Lane", 
        "bike_stands": 40.0, 
        "bikes_available": 40.0, 
        "latitude": 53.3502, 
        "longitude": -6.2797, 
        "name": "GEORGES LANE", 
        "number": 50.0, 
        "s.number": 50.0, 
        "stands_available": 0.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "York Street West", 
        "bike_stands": 40.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3393, 
        "longitude": -6.2647, 
        "name": "YORK STREET WEST", 
        "number": 51.0, 
        "s.number": 51.0, 
        "stands_available": 40.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "York Street East", 
        "bike_stands": 32.0, 
        "bikes_available": 23.0, 
        "latitude": 53.3388, 
        "longitude": -6.262, 
        "name": "YORK STREET EAST", 
        "number": 52.0, 
        "s.number": 52.0, 
        "stands_available": 9.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:00 GMT"
      }, 
      {
        "address": "Newman House", 
        "bike_stands": 40.0, 
        "bikes_available": 2.0, 
        "latitude": 53.3371, 
        "longitude": -6.26059, 
        "name": "NEWMAN HOUSE", 
        "number": 53.0, 
        "s.number": 53.0, 
        "stands_available": 38.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "Clonmel Street", 
        "bike_stands": 33.0, 
        "bikes_available": 13.0, 
        "latitude": 53.336, 
        "longitude": -6.26298, 
        "name": "CLONMEL STREET", 
        "number": 54.0, 
        "s.number": 54.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "Hatch Street", 
        "bike_stands": 36.0, 
        "bikes_available": 11.0, 
        "latitude": 53.334, 
        "longitude": -6.26071, 
        "name": "HATCH STREET", 
        "number": 55.0, 
        "s.number": 55.0, 
        "stands_available": 25.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Mount Street Lower", 
        "bike_stands": 40.0, 
        "bikes_available": 1.0, 
        "latitude": 53.338, 
        "longitude": -6.24153, 
        "name": "MOUNT STREET LOWER", 
        "number": 56.0, 
        "s.number": 56.0, 
        "stands_available": 38.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "Grattan Street", 
        "bike_stands": 23.0, 
        "bikes_available": 5.0, 
        "latitude": 53.3396, 
        "longitude": -6.24378, 
        "name": "GRATTAN STREET", 
        "number": 57.0, 
        "s.number": 57.0, 
        "stands_available": 18.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Sir Patrick's Dun", 
        "bike_stands": 40.0, 
        "bikes_available": 3.0, 
        "latitude": 53.3392, 
        "longitude": -6.24064, 
        "name": "SIR PATRICK DUN'S", 
        "number": 58.0, 
        "s.number": 58.0, 
        "stands_available": 37.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "Denmark Street Great", 
        "bike_stands": 20.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3556, 
        "longitude": -6.2614, 
        "name": "DENMARK STREET GREAT", 
        "number": 59.0, 
        "s.number": 59.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "North Circular Road", 
        "bike_stands": 30.0, 
        "bikes_available": 11.0, 
        "latitude": 53.3596, 
        "longitude": -6.26035, 
        "name": "NORTH CIRCULAR ROAD", 
        "number": 60.0, 
        "s.number": 60.0, 
        "stands_available": 19.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:05 GMT"
      }, 
      {
        "address": "Hardwicke Place", 
        "bike_stands": 25.0, 
        "bikes_available": 2.0, 
        "latitude": 53.357, 
        "longitude": -6.26323, 
        "name": "HARDWICKE PLACE", 
        "number": 61.0, 
        "s.number": 61.0, 
        "stands_available": 23.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Lime Street", 
        "bike_stands": 40.0, 
        "bikes_available": 10.0, 
        "latitude": 53.346, 
        "longitude": -6.24358, 
        "name": "LIME STREET", 
        "number": 62.0, 
        "s.number": 62.0, 
        "stands_available": 30.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Fenian Street", 
        "bike_stands": 35.0, 
        "bikes_available": 23.0, 
        "latitude": 53.3414, 
        "longitude": -6.24672, 
        "name": "FENIAN STREET", 
        "number": 63.0, 
        "s.number": 63.0, 
        "stands_available": 12.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Sandwith Street", 
        "bike_stands": 40.0, 
        "bikes_available": 5.0, 
        "latitude": 53.3452, 
        "longitude": -6.24716, 
        "name": "SANDWITH STREET", 
        "number": 64.0, 
        "s.number": 64.0, 
        "stands_available": 35.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "Convention Centre", 
        "bike_stands": 40.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3474, 
        "longitude": -6.23852, 
        "name": "CONVENTION CENTRE", 
        "number": 65.0, 
        "s.number": 65.0, 
        "stands_available": 36.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "New Central Bank", 
        "bike_stands": 40.0, 
        "bikes_available": 10.0, 
        "latitude": 53.3471, 
        "longitude": -6.23475, 
        "name": "NEW CENTRAL BANK", 
        "number": 66.0, 
        "s.number": 66.0, 
        "stands_available": 30.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "The Point", 
        "bike_stands": 40.0, 
        "bikes_available": 30.0, 
        "latitude": 53.3469, 
        "longitude": -6.23085, 
        "name": "THE POINT", 
        "number": 67.0, 
        "s.number": 67.0, 
        "stands_available": 10.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Hanover Quay", 
        "bike_stands": 40.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3441, 
        "longitude": -6.23715, 
        "name": "HANOVER QUAY", 
        "number": 68.0, 
        "s.number": 68.0, 
        "stands_available": 36.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "Grand Canal Dock", 
        "bike_stands": 40.0, 
        "bikes_available": 16.0, 
        "latitude": 53.3426, 
        "longitude": -6.2387, 
        "name": "GRAND CANAL DOCK", 
        "number": 69.0, 
        "s.number": 69.0, 
        "stands_available": 24.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "Kevin Street", 
        "bike_stands": 40.0, 
        "bikes_available": 32.0, 
        "latitude": 53.3378, 
        "longitude": -6.2677, 
        "name": "KEVIN STREET", 
        "number": 71.0, 
        "s.number": 71.0, 
        "stands_available": 8.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "John Street West", 
        "bike_stands": 31.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3431, 
        "longitude": -6.27717, 
        "name": "JOHN STREET WEST", 
        "number": 72.0, 
        "s.number": 72.0, 
        "stands_available": 27.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "Francis Street", 
        "bike_stands": 30.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3421, 
        "longitude": -6.27523, 
        "name": "FRANCIS STREET", 
        "number": 73.0, 
        "s.number": 73.0, 
        "stands_available": 26.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Oliver Bond Street", 
        "bike_stands": 30.0, 
        "bikes_available": 7.0, 
        "latitude": 53.3439, 
        "longitude": -6.28053, 
        "name": "OLIVER BOND STREET", 
        "number": 74.0, 
        "s.number": 74.0, 
        "stands_available": 23.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "James Street", 
        "bike_stands": 40.0, 
        "bikes_available": 10.0, 
        "latitude": 53.3435, 
        "longitude": -6.28741, 
        "name": "JAMES STREET", 
        "number": 75.0, 
        "s.number": 75.0, 
        "stands_available": 30.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:10 GMT"
      }, 
      {
        "address": "Market Street South", 
        "bike_stands": 38.0, 
        "bikes_available": 10.0, 
        "latitude": 53.3423, 
        "longitude": -6.28766, 
        "name": "MARKET STREET SOUTH", 
        "number": 76.0, 
        "s.number": 76.0, 
        "stands_available": 28.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }, 
      {
        "address": "Wolfe Tone Street", 
        "bike_stands": 29.0, 
        "bikes_available": 9.0, 
        "latitude": 53.3489, 
        "longitude": -6.26746, 
        "name": "WOLFE TONE STREET", 
        "number": 77.0, 
        "s.number": 77.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Mater Hospital", 
        "bike_stands": 40.0, 
        "bikes_available": 6.0, 
        "latitude": 53.36, 
        "longitude": -6.26483, 
        "name": "MATER HOSPITAL", 
        "number": 78.0, 
        "s.number": 78.0, 
        "stands_available": 34.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:10 GMT"
      }, 
      {
        "address": "Eccles Street East", 
        "bike_stands": 27.0, 
        "bikes_available": 4.0, 
        "latitude": 53.3581, 
        "longitude": -6.2656, 
        "name": "ECCLES STREET EAST", 
        "number": 79.0, 
        "s.number": 79.0, 
        "stands_available": 23.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "St James Hospital (Luas)", 
        "bike_stands": 40.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3414, 
        "longitude": -6.29295, 
        "name": "ST JAMES HOSPITAL (LUAS)", 
        "number": 80.0, 
        "s.number": 80.0, 
        "stands_available": 40.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:13 GMT"
      }, 
      {
        "address": "Mount Brown", 
        "bike_stands": 22.0, 
        "bikes_available": 11.0, 
        "latitude": 53.3416, 
        "longitude": -6.29719, 
        "name": "MOUNT BROWN", 
        "number": 82.0, 
        "s.number": 82.0, 
        "stands_available": 11.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }, 
      {
        "address": "Emmet Road", 
        "bike_stands": 40.0, 
        "bikes_available": 29.0, 
        "latitude": 53.3407, 
        "longitude": -6.30819, 
        "name": "EMMET ROAD", 
        "number": 83.0, 
        "s.number": 83.0, 
        "stands_available": 11.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:14 GMT"
      }, 
      {
        "address": "Brookfield Road", 
        "bike_stands": 30.0, 
        "bikes_available": 9.0, 
        "latitude": 53.339, 
        "longitude": -6.30022, 
        "name": "BROOKFIELD ROAD", 
        "number": 84.0, 
        "s.number": 84.0, 
        "stands_available": 21.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "Rothe Abbey", 
        "bike_stands": 35.0, 
        "bikes_available": 24.0, 
        "latitude": 53.3388, 
        "longitude": -6.30395, 
        "name": "ROTHE ABBEY", 
        "number": 85.0, 
        "s.number": 85.0, 
        "stands_available": 11.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Parkgate Street", 
        "bike_stands": 38.0, 
        "bikes_available": 6.0, 
        "latitude": 53.348, 
        "longitude": -6.2918, 
        "name": "PARKGATE STREET", 
        "number": 86.0, 
        "s.number": 86.0, 
        "stands_available": 31.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "Collins Barracks Museum", 
        "bike_stands": 38.0, 
        "bikes_available": 14.0, 
        "latitude": 53.3475, 
        "longitude": -6.28525, 
        "name": "COLLINS BARRACKS MUSEUM", 
        "number": 87.0, 
        "s.number": 87.0, 
        "stands_available": 24.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "Fitzwilliam Square East", 
        "bike_stands": 40.0, 
        "bikes_available": 2.0, 
        "latitude": 53.3352, 
        "longitude": -6.2509, 
        "name": "FITZWILLIAM SQUARE EAST", 
        "number": 89.0, 
        "s.number": 89.0, 
        "stands_available": 38.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Benson Street", 
        "bike_stands": 40.0, 
        "bikes_available": 1.0, 
        "latitude": 53.3442, 
        "longitude": -6.23345, 
        "name": "BENSON STREET", 
        "number": 90.0, 
        "s.number": 90.0, 
        "stands_available": 38.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "South Dock Road", 
        "bike_stands": 30.0, 
        "bikes_available": 28.0, 
        "latitude": 53.3418, 
        "longitude": -6.23129, 
        "name": "SOUTH DOCK ROAD", 
        "number": 91.0, 
        "s.number": 91.0, 
        "stands_available": 2.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Heuston Bridge (North)", 
        "bike_stands": 40.0, 
        "bikes_available": 32.0, 
        "latitude": 53.3478, 
        "longitude": -6.29243, 
        "name": "HEUSTON BRIDGE (NORTH)", 
        "number": 92.0, 
        "s.number": 92.0, 
        "stands_available": 8.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:14 GMT"
      }, 
      {
        "address": "Heuston Station (Central)", 
        "bike_stands": 40.0, 
        "bikes_available": 22.0, 
        "latitude": 53.3466, 
        "longitude": -6.29692, 
        "name": "HEUSTON STATION (CENTRAL)", 
        "number": 93.0, 
        "s.number": 93.0, 
        "stands_available": 18.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "Heuston Station (Car Park)", 
        "bike_stands": 40.0, 
        "bikes_available": 1.0, 
        "latitude": 53.347, 
        "longitude": -6.2978, 
        "name": "HEUSTON STATION (CAR PARK)", 
        "number": 94.0, 
        "s.number": 94.0, 
        "stands_available": 39.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "Royal Hospital", 
        "bike_stands": 40.0, 
        "bikes_available": 14.0, 
        "latitude": 53.3439, 
        "longitude": -6.29706, 
        "name": "ROYAL HOSPITAL", 
        "number": 95.0, 
        "s.number": 95.0, 
        "stands_available": 26.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:08 GMT"
      }, 
      {
        "address": "Kilmainham Lane", 
        "bike_stands": 30.0, 
        "bikes_available": 11.0, 
        "latitude": 53.3418, 
        "longitude": -6.30509, 
        "name": "KILMAINHAM LANE", 
        "number": 96.0, 
        "s.number": 96.0, 
        "stands_available": 19.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }, 
      {
        "address": "Kilmainham Gaol", 
        "bike_stands": 40.0, 
        "bikes_available": 28.0, 
        "latitude": 53.3421, 
        "longitude": -6.31002, 
        "name": "KILMAINHAM GAOL", 
        "number": 97.0, 
        "s.number": 97.0, 
        "stands_available": 12.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:04 GMT"
      }, 
      {
        "address": "Frederick Street South", 
        "bike_stands": 40.0, 
        "bikes_available": 22.0, 
        "latitude": 53.3415, 
        "longitude": -6.25685, 
        "name": "FREDERICK STREET SOUTH", 
        "number": 98.0, 
        "s.number": 98.0, 
        "stands_available": 18.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "City Quay", 
        "bike_stands": 30.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3466, 
        "longitude": -6.24615, 
        "name": "CITY QUAY", 
        "number": 99.0, 
        "s.number": 99.0, 
        "stands_available": 30.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Heuston Bridge (South)", 
        "bike_stands": 25.0, 
        "bikes_available": 25.0, 
        "latitude": 53.3471, 
        "longitude": -6.29204, 
        "name": "HEUSTON BRIDGE (SOUTH)", 
        "number": 100.0, 
        "s.number": 100.0, 
        "stands_available": 0.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:11 GMT"
      }, 
      {
        "address": "King Street North", 
        "bike_stands": 30.0, 
        "bikes_available": 27.0, 
        "latitude": 53.3503, 
        "longitude": -6.27351, 
        "name": "KING STREET NORTH", 
        "number": 101.0, 
        "s.number": 101.0, 
        "stands_available": 3.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "Western Way", 
        "bike_stands": 40.0, 
        "bikes_available": 20.0, 
        "latitude": 53.3549, 
        "longitude": -6.26942, 
        "name": "WESTERN WAY", 
        "number": 102.0, 
        "s.number": 102.0, 
        "stands_available": 20.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:05 GMT"
      }, 
      {
        "address": "Grangegorman Lower (South)", 
        "bike_stands": 40.0, 
        "bikes_available": 2.0, 
        "latitude": 53.3547, 
        "longitude": -6.27868, 
        "name": "GRANGEGORMAN LOWER (SOUTH)", 
        "number": 103.0, 
        "s.number": 103.0, 
        "stands_available": 38.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:13 GMT"
      }, 
      {
        "address": "Grangegorman Lower (Central)", 
        "bike_stands": 40.0, 
        "bikes_available": 7.0, 
        "latitude": 53.3552, 
        "longitude": -6.27842, 
        "name": "GRANGEGORMAN LOWER (CENTRAL)", 
        "number": 104.0, 
        "s.number": 104.0, 
        "stands_available": 33.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "Grangegorman Lower (North)", 
        "bike_stands": 36.0, 
        "bikes_available": 13.0, 
        "latitude": 53.356, 
        "longitude": -6.27838, 
        "name": "GRANGEGORMAN LOWER (NORTH)", 
        "number": 105.0, 
        "s.number": 105.0, 
        "stands_available": 23.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "Rathdown Road", 
        "bike_stands": 40.0, 
        "bikes_available": 13.0, 
        "latitude": 53.3589, 
        "longitude": -6.28034, 
        "name": "RATHDOWN ROAD", 
        "number": 106.0, 
        "s.number": 106.0, 
        "stands_available": 27.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "Charleville Road", 
        "bike_stands": 40.0, 
        "bikes_available": 27.0, 
        "latitude": 53.3592, 
        "longitude": -6.28187, 
        "name": "CHARLEVILLE ROAD", 
        "number": 107.0, 
        "s.number": 107.0, 
        "stands_available": 13.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Avondale Road", 
        "bike_stands": 35.0, 
        "bikes_available": 23.0, 
        "latitude": 53.3594, 
        "longitude": -6.27614, 
        "name": "AVONDALE ROAD", 
        "number": 108.0, 
        "s.number": 108.0, 
        "stands_available": 12.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:38:59 GMT"
      }, 
      {
        "address": "Buckingham Street Lower", 
        "bike_stands": 29.0, 
        "bikes_available": 24.0, 
        "latitude": 53.3533, 
        "longitude": -6.24932, 
        "name": "BUCKINGHAM STREET LOWER", 
        "number": 109.0, 
        "s.number": 109.0, 
        "stands_available": 5.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:12 GMT"
      }, 
      {
        "address": "Phibsborough Road", 
        "bike_stands": 40.0, 
        "bikes_available": 13.0, 
        "latitude": 53.3563, 
        "longitude": -6.27372, 
        "name": "PHIBSBOROUGH ROAD", 
        "number": 110.0, 
        "s.number": 110.0, 
        "stands_available": 27.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:09 GMT"
      }, 
      {
        "address": "Mountjoy Square East", 
        "bike_stands": 40.0, 
        "bikes_available": 5.0, 
        "latitude": 53.3567, 
        "longitude": -6.25636, 
        "name": "MOUNTJOY SQUARE EAST", 
        "number": 111.0, 
        "s.number": 111.0, 
        "stands_available": 35.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:10 GMT"
      }, 
      {
        "address": "North Circular Road (O'Connell's)", 
        "bike_stands": 30.0, 
        "bikes_available": 24.0, 
        "latitude": 53.3578, 
        "longitude": -6.25156, 
        "name": "NORTH CIRCULAR ROAD (O'CONNELL'S)", 
        "number": 112.0, 
        "s.number": 112.0, 
        "stands_available": 6.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:01 GMT"
      }, 
      {
        "address": "Merrion Square South", 
        "bike_stands": 40.0, 
        "bikes_available": 23.0, 
        "latitude": 53.3386, 
        "longitude": -6.24861, 
        "name": "MERRION SQUARE SOUTH", 
        "number": 113.0, 
        "s.number": 113.0, 
        "stands_available": 17.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Wilton Terrace (Park)", 
        "bike_stands": 40.0, 
        "bikes_available": 1.0, 
        "latitude": 53.3337, 
        "longitude": -6.24834, 
        "name": "WILTON TERRACE (PARK)", 
        "number": 114.0, 
        "s.number": 114.0, 
        "stands_available": 39.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:02 GMT"
      }, 
      {
        "address": "Killarney Street", 
        "bike_stands": 30.0, 
        "bikes_available": 30.0, 
        "latitude": 53.3548, 
        "longitude": -6.24758, 
        "name": "KILLARNEY STREET", 
        "number": 115.0, 
        "s.number": 115.0, 
        "stands_available": 0.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:06 GMT"
      }, 
      {
        "address": "Broadstone", 
        "bike_stands": 30.0, 
        "bikes_available": 11.0, 
        "latitude": 53.3547, 
        "longitude": -6.27231, 
        "name": "BROADSTONE", 
        "number": 116.0, 
        "s.number": 116.0, 
        "stands_available": 19.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:03 GMT"
      }, 
      {
        "address": "Hanover Quay East", 
        "bike_stands": 40.0, 
        "bikes_available": 0.0, 
        "latitude": 53.3437, 
        "longitude": -6.23175, 
        "name": "HANOVER QUAY EAST", 
        "number": 117.0, 
        "s.number": 117.0, 
        "stands_available": 40.0, 
        "status": "OPEN", 
        "time": "Mon, 28 Mar 2022 19:39:07 GMT"
      }
            ];
        
                
            function constructTable(selector) {
                
                // Getting the all column names
                var cols = Headers(list, selector);
            
                // Traversing the JSON data
                for (var i = 0; i < list.length; i++) {
                    var row = $('<tr/>');
                    for (var colIndex = 0; colIndex < cols.length; colIndex++)
                    {
                        var val = list[i][cols[colIndex]];
                        
                        // If there is any key, which is matching
                        // with the column name
                        if (val == null) val = "";
                            row.append($('<td/>').html(val));
                    }
                    
                    // Adding each row to the table
                    $(selector).append(row);
                }
            }
            
            function Headers(list, selector) {
                var columns = [];
                var header = $('<tr/>');
                
                for (var i = 0; i < list.length; i++) {
                    var row = list[i];
                    
                    for (var k in row) {
                        if ($.inArray(k, columns) == -1) {
                            columns.push(k);
                            
                            // Creating the header
                            header.append($('<th/>').html(k));
                        }
                    }
                }
                
                // Appending the header to the table
                $(selector).append(header);
                    return columns;
            }	
            </script>
    </div>
</body>
{% endblock %}
