{% extends 'base.html' %}

{% block head %}

    <title>Weather</title>

{% endblock %}

{% block body %} 

    <div class="container" id="weather_container">

        <!--Container for current weather-->
        <div class="weather_box" id="current_weather">
            <div class="small_current_box"><p>Currently in Dublin:</p></div>
            <div class="small_current_box" id="current_icon">current icon</div>
            <div class="small_current_box" id="current_description">current description</div>
        </div>

        <!--Container for forecasted weather for next 8 hours-->
        <div class="weather_box" id="forecast_weather">
            <div class="container"><p>Forecast:</p></div>

            <!--grouping 2-4 and 6-8 for styling purposes-->
            <div class="half_forecast" id="2-4hr_box">
                <div class= "small_forecast_box" id="2hr"></div>
                <div class= "small_forecast_box" id="4hr">4hr</div>
            </div>
            
            <div class="half_forecast" id="6-8hr_box">
                <div class= "small_forecast_box" id="6hr">6hr</div>
                <div class= "small_forecast_box" id="8hr">8hr</div>
            </div>
        </div>

    </div>

{% endblock %}