/* general page styling */

body {
  font-family: Helvetica;
  font-weight: 300;
}

header,
footer,
div {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  display: inline-block;
}

li {
  margin: 0px 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

#page_box {
  width: 300%;
}

#now_logo {
  float: right;
}

/* weather-specific styling */

#weather_container {
  width: 80%;
}

.weather_box {
  width: 40%;
}
