/* general page styling */

body {
  font-family: Helvetica;
  font-weight: 300;
  background-color: #e3e8e5;
}

header,
footer,
div {
  margin: 10px;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-color: #d4d2cf;
  box-shadow: 0px 0px 4px 2px #d4d2cf;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.menu_item {
  border-color: #d4d2cf;
  box-shadow: 0px 0px 4px 2px #d4d2cf;
  padding: 15px;
  font-size: 20px;
}

#home_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  justify-content: center;
  background-color: transparent;
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  display: inline-block;
  height: auto;
  width: auto;
}

li {
  margin: 0px 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

#page_box {
  width: 300%;
}

#now_logo {
  float: right;
}

/* weather-specific styling */

#weather_container {
  width: 80%;
  align-items: center;
  margin: 20px 0px 20px 0px;
  flex-direction: column;
}

.forecast_type {
  display: flex;
  justify-content: center;
  border-color: #d4d2cf;
  box-shadow: 0px 0px 4px 2px #d4d2cf;
  width: auto;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0px 25px;
}

.weather_box {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 90%;
  justify-content: space-between;
  align-items: center;
}

.small_current_box {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 80%;
}

.hr_font {
  font-size: 30px;
  color: rgb(60, 111, 117);
  margin: 0;
}

#current_weather img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

#forecast_weather img {
  width: 100%;
  height: auto;
}

.half_forecast {
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  justify-content: space-around;
  padding: 10px 30px;
  box-shadow: 0px 0px 4px 1px #d4d2cf;
  background-color: #f4f7f6;
}

.small_forecast_box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  font-size: small;
}

#current_icon {
  width: 100%;
}

#current_time {
  font-size: 20px;
  font-weight: 600;
}
